<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="details-container">
      <h2 class="details-title"><%= todo.title %></h2>
      <div class="details-content">
        <p class="details-text"><%= todo.details %></p>
      </div>
      <a class="delete" data-doc="<%= todo._id %>">Elimina</a>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/todos/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
